*, *::before, *::after{
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1593696326140-3ad13224e54b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80);
    
}

.quiz-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;

}

.btn{
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;


}

.btn:hover {
    background-color: gold;
    color: darkslategrey;
    border: 2px solid;
    font-weight: bold;
    cursor: pointer;
}

.btn:focus {
    background-color: gold;
}

.btn.correct {
    background-color: green;
}

.btn.incorrect {
    background-color: red;
}

.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;s
}

.start-para {
    display: grid;
    margin-left: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hide {
    display: none;
}